body{
background-color:purple;

}
#score{
    font-size:20px;
    margin-left:1000px;
    color:black;
}

#time{
    font-size:20px;
    float:right;
    margin-right:1500px;
    color:black;
}

#sketch{
    background-color:red;
    font-size:30px;
    color:black;
}

h1{
    color:black;
}
p{
    padding: top 10px;
    font-size:25px;
    color:black;
}
#show_sketch{
    float:right;
}
